{
  "presets": ["next/babel"],
  "plugins": [
    ["babel-plugin-root-import"],
    ["@babel/plugin-proposal-optional-chaining"],
    ["styled-components", { "ssr": true, "pure": true }]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs",
              "targets": "> 0.5%, not IE 11, not dead"
            }
          }
        ]
      ]
    }
  }
}
